body, html {
    margin:0;
    padding:0;
    height: 100%;
    width: 100%;
    justify-content: center;
       display: flex;
    align-items: center;
    background-color: #74CBAB;
}

  .grid {
    width:100%;
    height: 100%;
        background-image: linear-gradient(#D6F2E3 1px, transparent 1px), linear-gradient(to right, #D6F2E3 1px, transparent 1px);
      background-size: 40px 40px;
     display: flex;
     justify-content: center;
    align-items: center;
}

.todo-box {
    background-color: #FFC9CE;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    max-height: 70vh;
    overflow-y:auto ;
    box-sizing: 0ps 4px 8px rgba(0, 0, 0, 0.1);
    
}

.todo-box h1 {
    font-family: 'Comic Sans MS' , sans-serif;
    margin : 0 0 20px;
}

.todo-box input[type="text"]{
    /*can also use #new-task*/
    width : calc(100% - 92px);
    padding : 10px;
    border-radius : 10px;
    border : 2px solid #ccc;
    font-size: 16px;
    box-sizing : border-box;
}

#add {
    padding : 10px 20px;
    border-radius : 10px;
    color : white;
    background-color:#a14b5f7b;
    margin-top : 10px;
    margin-left : 5px;
    cursor : pointer;
}


#complete , #incomplete {
    padding : 10px 20px;
    border-radius : 5px;
    color:white;
    background-color: #a14b5f7b;
    margin-top : 10px;
    margin-left : 0px;
    cursor : pointer;
}

#task-list{
    list-style: none;
    padding: 0;
    margin : 0;
    text-align : left;
}

.todo-box li {
    display : flex;
    justify-content: space-between;
    background-color: #F486A1;
    padding: 7px;
    border-radius: 10px;
    margin-top: 10px;
    font-size: large;
    font-style: bold;
}

.todo-box li span {
    justify-content: center;
    margin-left: 0;
}
.todo-box #delete-button{
    background-color: #FFC9CE;
    justify-content: end;
    color:#7A0B25 ;
    border-radius : 50%;
    border-style: none;
    cursor: pointer;
    width: 23px;
    height: 23px;
    font-size: 16px;
}

#add:hover,#delete-button:hover,#complete:hover,#incomplete:hover{
    background-color: #7A0B25;
    color: #FFC9CE;
    }

.task-checkbox {
    appearance: none;
    background-color: #FFC9CE;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    position:relative;
    cursor:pointer;
}
.task-checkbox:hover {
    background-color: #7A0B25;
}
.task-checkbox:checked {
    background-color: #7A0B25;
}

.task-checkbox:checked::before {
    content:'';
    display: block;
    width: 5.5px;
    height: 9.5px;
    border:solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    position: absolute;
    top: 2px;
    left: 6px;
}

.ate {
    position: relative;
    width: 115px;
    height: 110px;
    left: 420px;
    top: 240px;
    transfrom: rotate(-24.33deg);
}
/* have eatten watermelon piece */

.image {
    position: absolute;
    top: 0px;
    left: -1px;
}

.todo_bax , .Mr_watery {
    position : absolute;
    right: -9px;
    bottom: 10px;
}